body {
  margin: 0;
  height: 100vh;
  background-color: rgb(102, 102, 102);
  overflow: hidden;
}

span {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: drop 6s;
}

.raindrop {
  height: 100px;
  width: 100px;
}

@keyframes drop {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 5000%);
  }
}
